extends ./base/layout.pug

block variables
    - let lang = 'en-EN';
    -
        const content = [
            {
                subtitle: 'About the conference',
                text: 'IT NonStop: J-Santa is the first conference devoted to JVM and Craftsmanship organised in Lublin. During 3 tracks, the experts will talk about technology, share their experience connected with real projects and present technical case studies. We invite specialists and enthusiasts of Java and related topics. Join us!'
            },
            {
                subtitle: 'Want to become a speaker?',
                text: [
                    'Please, ', 
                    'send us an email ', 
                    'with a theme and brief description of your report. Duration of the report: up to 45 minutes. ', 
                    'Every report is viewed by the IT NonStop: J-Santa expert board.'
                ]
            }
        ]
    -
        const supportContent = ['If you have any questions, ', 'please contact '];

block content
    section#welcome-screen
        //- .test none
        .rectangle.blue
        .rectangle.blue.heavy-blurred
        .rectangle.blue
        .rectangle.blue.blurred
        .rectangle.blue.blurred
        .rectangle.orange.heavy-blurred
        .rectangle.orange.blurred
        .rectangle.orange
        .poster
            h2.brand IT NonStop
                span Conference
            p.city lublin
            time.date december 8, 2018
            h1.title J-Santa
            p.hashtag #java
            <img src="./assets/img/svg/duke.svg" />

    header#header
        h2.logo
            a(href="./index.html") it nonstop
        time.date december 8, 2018
        .lang
            a(href="./index.html" class=(lang === 'en-EN') ? 'active' : '') eng
            a(href="./pl.html" class=(lang === 'pl-PL') ? 'active' : '') pl

    main
        section.about
            h3.subtitle= content[0].subtitle
            p.desc= content[0].text
        section.for-speakers
            h3.subtitle= content[1].subtitle
            p.desc
                span= content[1].text[0]
                a(href="mailto:hello@j-santa.pl")= content[1].text[1]
                span= content[1].text[2]
                span= content[1].text[3]
        section.location
            h3.hidden Location
            h4 Lublin Conference Centre
            a(href="https://goo.gl/maps/kmFcvCXJzmp").address Artura Grottgera 2, 20-029 Lublin

            iframe.google-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2497.493335549708!2d22.547424615329383!3d51.246825437543315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472257669e7d1f2f%3A0xb72cc5bf8e6f33d2!2sArtura+Grottgera+2%2C+20-029+Lublin%2C+Poland!5e0!3m2!1sen!2sru!4v1538298766819", width="675", height="240", frameborder="0", style="border:0", allowfullscreen="")

        section.support
            h3.hidden Support
            p.subtitle= supportContent[0]
                br
                span= supportContent[1]
                br
                a(href="mailto:hello@j-santa.pl") hello@j-santa.pl

